/* Change font to a chalk-like font */
* {
    font-family: 'Chalkduster';
    justify-content: center;
    text-align: center;
}

body {
    background: url(https://media.istockphoto.com/photos/green-chalkboard-background-picture-id1150072676?k=20&m=1150072676&s=170667a&w=0&h=rXJox0Qx3Q16sxwyhXBTDczqb1NOeAs7rvh0Lhn_xrg=);
    background-size: cover;
}

div, button, input {
    color: rgb(255, 255, 255);
    border: none;
    text-shadow: 1px 1px #444;
}

button {
    color: black;
}

button:hover {
    background-color: #666;
}