* {
    font-family: londrina shadow;
    justify-content: center;
    text-align: center;
}

.hangman div {
    background: #000;
}

.buttons {
    margin-top: 5px;
    padding: 5px;
}

button:hover {
    background-color: tomato;
}